@model RMSProject.ViewModels.MenuItemsViewData


<div class="card mb-3 mt-4 col-md-12 text-white bg-dark">
    <div class="card-header">
        <div class="d-flex justify-content-between text-primary">
            @*Item Name*@
            <h3><strong>@Model.MenuItem.ItemName</strong></h3>
            @*Item price*@
            <h3><strong>@Html.DisplayFor(model => model.MenuItem.ItemPrice)</strong></h3>
        </div>
       <partial name="_Allergen" />
    </div>

    @*Item image*@
    <div class="card-body">
        <img src="@Model.MenuItem.ImageUrl" class="img-thumbnail" />
    </div>
    
    @*Item Description*@
    <div class="card-body text-info">
        <p class="card-text">@Model.MenuItem.ItemDescription</p>
    </div>

    @*Nutritional Information*@
    @*If item is vegan/vegetarian/has nuts then add a badge*@
    <div class="card-body">
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MenuItem.TypeOfMeal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MenuItem.TypeOfMeal)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NutritionalInformation.Calories)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NutritionalInformation.Calories)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NutritionalInformation.Carbs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NutritionalInformation.Carbs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NutritionalInformation.Sugar)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NutritionalInformation.Sugar)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NutritionalInformation.Protein)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NutritionalInformation.Protein)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NutritionalInformation.Fats)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NutritionalInformation.Fats)
            </dd>
        </dl>
    </div>

    <div class="card-body">
        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-menuItemId="@Model.MenuItem.Id" class="btn btn-primary">Add to cart</a>
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>

</div>
