@model RMSProject.ViewModels.ShoppingCartViewData
@{
    ViewData["Title"] = "Shopping Cart Index";
}


<h3 class="my-4">My Basket</h3>
<a asp-action="ClearBasket" class="btn btn-danger">Clear basket</a>
<hr />

<div class="row gx-3">
    <div class="col-8">
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <div class="card shopping-cart-card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@line.MenuItem.ImageUrl" class="img-fluid rounded-start p-2" alt="@line.MenuItem.ItemName">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-text">@line.Amount x @line.MenuItem.ItemName</h5>
                            <div class="d-flex justify-content-between">
                                <h6>@line.MenuItem.ItemDescription</h6>
                                <h2>@line.MenuItem.ItemPrice.ToString("c")</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoppingCartTotal.ToString("c")</h4>
            </div>
            <hr />
            <div class="text-center d-grid">
                @if (Model.ShoppingCart.ShoppingCartItems.Count <= 0)
                {
                    <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary disabled">Continue to payment</a>
                }
                else
                {
                    // Can achieve the same effect with Javascript by adding and removing "disabled" class
                    <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary">Continue to payment</a>
                }


            </div>
        </div>
    </div>
</div>
